<%include ./partials/header%>

<form action="/show/<%=pet._id%>" method="post">
    <label for="name">Name</label>
    <input type="text" name="author" placeholder="name">
    <br>
    <label for="description">Comment</label>
    <input type="text" name="text" placeholder="Comment">
    <button>Submit</button>
    <a href="/show/<%=pet._id%>">Go back</a>
  

</form>


<%include ./partials/footer%>