<%include ./partials/header%>

<form action="/" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="name">
    <label for="name">Image</label>
    <input type="text" name="image" placeholder="image URL">
    <label for="description">Description</label>
    <input type="text" name="description" placeholder="description">
    <button>Submit</button>
    <a href="/">Go back</a>
  

</form>


<%include ./partials/footer%>