<%include ./partials/header%>

<div class="container">
    <div class="jumbotron">
            <h1 class="display-4">Show us your sweetest pet</h1>
            <p class="lead">This site is for pet lovers to show everyone how CUTE their pet is!!!</p>
            <hr class="my-4">
            <p>Show us your pet</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Create post</a>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlmsqAhJrE-lfesLdMptuX4Pn1O55OeS5m-te4QN4rVXnIxbj_" alt="">
               <div class="caption">
                   <h4>My cute dog</h4>
               </div>
               <p>
                   <a href="#">More info</a>
               </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlmsqAhJrE-lfesLdMptuX4Pn1O55OeS5m-te4QN4rVXnIxbj_" alt="">
               <div class="caption">
                   <h4>My cute dog</h4>
               </div>
               <p>
                   <a href="#">More info</a>
               </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlmsqAhJrE-lfesLdMptuX4Pn1O55OeS5m-te4QN4rVXnIxbj_" alt="">
               <div class="caption">
                   <h4>My cute dog</h4>
               </div>
               <p>
                   <a href="#">More info</a>
               </p>
            </div>
        </div>
    </div>

</div>

<%include ./partials/footer%>