<%include ./partials/header%>

<div class="container">
    <div class="jumbotron" id="jumbotron">
            <h1 class="display-4">Show us your sweetest pet</h1>
            <p class="lead">This site is for pet lovers to show everyone how CUTE their pet is!!!</p>
            <hr class="my-4">
            <p>Show us your pet</p>
            <a class="btn btn-primary btn-lg" href="/create" role="button">Create post</a>
    </div>
</div>

<div class="container" >
    <h3>Top 10 most cutest pets</h3>
    <div class="row" >
       <% pets.forEach(function(pet){%>
        <div class="col-md-4 col-sm-6" >
            <div class="thumbnail" >
                <img src="<%=pet.image%>" alt="">
               <div class="caption">
                   <h4><%=pet.name%></h4>
               </div>
               <p>
                   <p><%=pet.description%></p>
                   <a href="/show/<%=pet._id%>">More info</a>
               </p>
            </div>
        </div>
    <%})%>
    </div>

</div>

<%include ./partials/footer%>