<%include ./partials/header%>

<form action="/show/<%=pet._id%>/comments" method="post">
    <label for="writer">Name</label>
    <input type="text" name="writer" placeholder="name">
    <br>
    <label for="text">Comment</label>
    <input type="text" name="text" placeholder="Comment">
    <button>Submit</button>
    <a href="/show/<%=pet._id%>">Go back</a>
  

</form>


<%include ./partials/footer%>