<%include ./partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
                <li>link4</li>
                <li>link5</li>
            </ul>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlmsqAhJrE-lfesLdMptuX4Pn1O55OeS5m-te4QN4rVXnIxbj_" alt="">
                <div class="caption-full">
                    <h4>Name of pet</h4>
                    <h6>description</h6>
                    <p>
                        е једноставно модел текста који се користи у штампарској и словослагачкој 
                            индустрији. Lorem ipsum је био стан
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h5>comments</h5>
            <p>great</p>
            <p>niceeee</p>
        </div>
    </div>
</div>





<%include ./partials/footer%>