html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(226, 236, 199);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Crimson Text', serif;
}
.wrapper {
min-height: 100%;
position: relative;
}
#navbar{
    background: #65e043;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #1a740e, #65e043);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #1a740e, #65e043); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.logo{
    
    color: red;
}

#jumbotron {
    background: #65e043;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1a740e, #65e043);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1a740e, #65e043); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#navbarDropdown {
    font-size: 18px;
   
    
}

.dropdown-item:hover {
    background-color:#65e043;
    transition-duration: 0.5s;
}

.dropdown-menu {
    background: #65e043;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1a740e, #65e043);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1a740e, #65e043); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.img-hover-zoom img {
    transition: transform .5s ease;
  }

.img-hover-zoom:hover img {
    transform: scale(1.05);}


.register{
    margin: 20px auto; 
    width:400px;
    margin-top:20px;
    padding:20px;
    text-align: center;
    float: right;
    
}

.register input{

    margin: 5px auto;
}
.register label{
    color:rgb(57, 192, 52);
}
.register h3 {
    color:rgb(57, 192, 52);
}


.login{
    text-align: end;
    float: right;
}
.login label{
    color:rgb(57, 192, 52);
   
}

.thumbnail {
    padding:0;
    text-align: center;
    
    }
.thumbnail img{
width:100%;

}

.thumbnail_landing_size img{
    height: 250px;
}



#show_pet_image{
    position: relative;
    width: 100%;
}

#show_pet_image img{
    width: 100%;
    max-height: 540px;
}

.show_pet_image_btn_one {
    position: absolute;
    width: 50px;
    top: 4%;
    left: 94%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}
.show_pet_image_btn_two {
    position: absolute;
    width:50px;
    top: 4%;
    left: 6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.form-control {
    max-width: 300px;
}


.create{
    color:rgb(57, 192, 52);
    
    margin-bottom:0;
}




.textarea {
    position: relative;
    width: 100%;
  }
  
 
  .textarea img {
    width: 100%;
    height: auto;
  }
  
  .textarea textarea{
      width:100%;
      height:auto;
      
      
  }

  .textarea button {
    position: absolute;
    top: 47.5%;
    left: 107.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  


  #show_comment{
      padding-left:10px;
      padding-right: 10px;
      margin-bottom: 5px;
      background-color: rgb(232, 252, 237);
      border-radius: 15px;
   
      
  }

  #show_comment_text{
    word-break: break-all;
    
  }
  #show_comment hr{
      margin:0;
      margin-bottom:5px;
      padding: 0;
   
  }
  
  .comment_btn{
    opacity: 0.5;;
}


.comment-settings-btn{
    opacity: 0.3;
}
.comment-settings-btn:hover{
    opacity:1;
}

.edit_comment{
    margin-top:5%;
    margin-left:5%;
}


.footer {
   
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: rgb(226, 236, 199);
   
}
.footer p{
    text-align: center;
   
}

.login_background{
    background-image: url("/images/pups-1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}